<template>
  <div
    class="document-row-wrapper"
    :class="{'info--opened' : validationInfo}"
  >
    <div class="row-title rows">
      <div
        class="title"
        :class="{'disabled' : !validation || loading}"
        @click="showInfo()"
      >
        <div>{{item.filename}}</div>
      </div>
      <div>{{item.author}}</div>
      <div
        v-if="!loading"
        class="validation-status"
        :class="validation ? validation.status : 'none'"
      >
        {{validation ? validation.status : 'None'}}
      </div>
      <div
        v-else
        class="loading"
      >
        <i class="material-icons">
          autorenew
        </i>
      </div>
      <div class="row-actions">
        <button
          class="primary"
          @click="validate()"
          :disabled="loading"
        >Validate</button>
        <button
          class="flat icon"
          @click="showInfo()"
          :disabled="!validation || loading"
        >
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </button>
      </div>
    </div>
    <div class="row-info">
      <template v-if="validation">
        <div
          v-for="(value, index) in validationParams"
          :key="value"
          class="validation-status"
          :class="getClassName(index)"
        >
          <div>{{value}}</div>
        </div>
        <div
          v-if="validation.message"
          class="error-message"
        >
          {{validation.message.error.code}}
          {{validation.message.error.message}}
        </div>
      </template>
    </div>
  </div>
</template>
<script>
export default {
  name: "DocumentRowComponent",
  props: ["item", "validation-status"],
  components: {},
  computed: {
    validation() {
      this.setLoading(this.validationStatus);
      return this.validationStatus;
    }
  },
  methods: {
    getClassName(index) {
      let className = "";
      if (this.validation) {
        if (index < this.validation.step) {
          className = "valid";
        } else if (index == this.validation.step) {
          className = this.validation.status;
        }
      }

      return className;
    },
    setLoading(status) {
      this.loading = status && status.step < 0;
    },
    showInfo() {
      if (!this.validation || this.loading) {
        return;
      }
      this.validationInfo = !this.validationInfo;
    },
    validate() {
      this.$store.dispatch("validateDocument", this.item);
    }
  },
  data() {
    return {
      validationInfo: false,
      loading: false,
      validationParams: ["checksum", "schema", "signature"]
    };
  }
};
</script>

<style lang="less" scoped>
.document-row-wrapper {
  overflow: hidden;
  height: 66px;
  .validation-status {
    color: #a9a9a9;
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 16px;
    text-transform: capitalize;
    &:before {
      content: "";
      text-transform: lowercase;
      padding-right: 10px;
      font-family: "Material Icons";
    }
    &.valid {
      margin: 0;
      color: #00e676;
      &:before {
        content: "check";
      }
    }
    &.invalid {
      margin: 0;
      color: #d32f2f;
      &:before {
        content: "cancel";
      }
    }
    &.error {
      margin: 0;
      color: #ff5e00;
      &:before {
        content: "error_outline";
      }
    }
  }
  .row-title {
    border: 1px solid #d6d6d6;
    background: #fff;
    transition: all 0.4s ease-out;

    .validation-status {
      margin-left: 0;
      &.none {
        &:before {
          padding-right: 0;
        }
      }
    }

    .title {
      font-weight: bold;
      display: flex;
      height: -webkit-fill-available;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      line-height: 24px;
      &.disabled {
        cursor: default;
      }
    }

    .row-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      & > :last-child {
        margin-left: 10px;
      }
    }
  }
  .row-info {
    padding: 16px;
    background: rgb(253, 253, 253);
    height: 0;
    border: 1px solid #d6d6d6;
    border-top: 0;
    .error-message {
      background: #d32f2f;
      color: #fff;
      padding: 8px 16px;
      margin: 16px 0;
    }
  }

  &.info--opened {
    height: auto;
    .row-info {
      height: auto;
    }
  }
}
</style>


