<template>
  <div
    id="app"
    class="container"
  >
    <div class="header">
      <h1>Documents</h1>
      <button
        @click="validateAllDocuments"
        class="primary"
        v-if="!docsAreEmpty()"
      >Valide all</button>
    </div>

    <div class="rows rows-header">
      <div>
        <div>Document name</div>
      </div>
      <div>
        <div>Author</div>
      </div>
      <div>
        <div>Status</div>
      </div>
      <div></div>
    </div>
    <row
      v-for="document in documents"
      :key="document.id"
      :item="document"
      :validation-status="validations[document.id]"
    ></row>
    <div
      class="loading page-loading"
      v-if="loading"
    >
      <i class="material-icons">
        autorenew
      </i>
    </div>
    <div
      v-if="errorMsg"
      class="init-error"
    >
      <h1>Oops, something went wrong</h1>
      <p>{{errorMsg}}</p>
      <button
        @click="reload(page)"
        class="primary"
      >Reload</button>
    </div>
  </div>
</template>

<script>
import DocumentRowComponent from "./components/DocumentRow";
import { mapGetters } from "vuex";
export default {
  name: "app",
  components: {
    row: DocumentRowComponent
  },
  computed: {
    ...mapGetters(["documents", "validations", "meta"])
  },
  mounted() {
    this.scroll();
    this.reload();
  },
  methods: {
    reload(page = 1) {
      this.loading = true;
      this.errorMsg = "";
      this.$store
        .dispatch("getDocuments", page)
        .then(() => {
          this.loading = false;
          this.errorMsg = "";
        })
        .catch(e => {
          this.loading = false;
          if (page > 1) {
            this.page--;
          }
          this.errorMsg = e.error.message;
        });
    },
    docsAreEmpty() {
      return Object.keys(this.documents).length == 0;
    },
    validateAllDocuments() {
      for (let key in this.documents) {
        this.$store.dispatch("validateDocument", this.documents[key]);
      }
    },
    scroll() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;

        if (bottomOfWindow) {
          if (this.page <= this.meta.pagesCount) {
            this.page += 1;
            this.reload(this.page);
          }
        }
      };
    }
  },
  data() {
    return {
      loading: true,
      page: 1,
      errorMsg: ""
    };
  }
};
</script>

<style lang="less">
@import "style.less";
</style>
