body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #f5f5f6;

    &>* {
        box-sizing: border-box;
    }

    .init-error {
        text-align: center;

        p {
            font-size: 20px;
        }
    }

    .header {
        display: flex;
        align-items: center;

        &>button {
            margin-left: auto;
        }
    }

    button {
        border: 0;
        outline: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        padding: 8px 16px;
        margin: 0 6px;
        background-position: center;
        transition: background 0.8s;

        &.primary {
            background: #3f51b5;
            color: #fff;

            &:hover {
                background: #3f51b5 radial-gradient(circle, transparent 1%, #3f51b5 1%) center/15000%;
            }

            &:active {
                background-color: #7986cb;
                background-size: 100%;
                transition: background 0s;
            }
        }

        &.icon {
            width: 34px;
            height: 34px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 20px;
            }

            &:hover {
                background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
            }

            &:active {
                background-color: #e0e0e0;
                background-size: 100%;
                transition: background 0s;
            }
        }

        &[disabled="disabled"] {
            cursor: not-allowed;
            opacity: 0.7;
        }
    }


    .loading {
        i {
            animation: rotation 2s infinite linear;
            opacity: 0.5;
        }

        &.page-loading {
            text-align: center;
            margin: 20px 0;

            i {
                font-size: 40px;
            }
        }
    }

    .container {
        margin: 30px auto;
        max-width: 960px;
        width: 80%;

        .document-row-wrapper {
            &+.document-row-wrapper {
                margin-top: 10px;
            }
        }

        .rows {
            display: grid;
            grid-template-columns: 4fr 3fr 2fr 3fr;
            height: 64px;
            align-items: center;

            &.rows-header {
                font-weight: bold;
                color: fade(#222, 50%);
            }

            &>div {
                padding: 0 16px;

                &:nth-child(-n + 2) {
                    overflow: hidden;

                    &>div {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media only screen and (max-width: 780px) {
    body {
        .container {
            margin: 30px auto;
            max-width: inherit;
            padding: 0 16px;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    body {
        .container {
            .rows {
                grid-template-columns: 4fr 2fr 3fr;

                &>div {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
}